/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* =========================================
   CUSTOM SCROLLBAR (Barra de Desplazamiento)
   ========================================= */

/* 1. Estándar (Firefox) */
* {
  scrollbar-width: thin; /* Hace la barra delgada */
  scrollbar-color: #239089 transparent; /* Color del dedo / Fondo transparente */
}

/* 2. Motores Webkit (Chrome, Edge, Safari, Opera) */

/* El contenedor general */
::-webkit-scrollbar {
  width: 8px; /* Ancho vertical más fino */
  height: 8px; /* Alto horizontal más fino */
}

/* ELIMINAR LAS FLECHAS DE ARRIBA Y ABAJO */
::-webkit-scrollbar-button {
  display: none;
}

/* El carril (fondo) - Lo hacemos transparente para que sea sutil */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* El "dedo" (la parte que se mueve) */
::-webkit-scrollbar-thumb {
  /* Color base suave (Teal-200) para no distraer */
  background-color: #99f6e4;

  /* Bordes totalmente redondos */
  border-radius: 10px;

  /* TRUCO PRO: Borde transparente + background-clip */
  /* Esto crea un margen "invisible" alrededor de la barra, haciéndola flotar */
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Al pasar el mouse, se pone de tu color corporativo fuerte */
::-webkit-scrollbar-thumb:hover {
  background-color: #239089;
}

/* Esquina invisible */
::-webkit-scrollbar-corner {
  background: transparent;
}
